<div class="panel panel-default">
    <div class="list-group">
        <div class="list-group-item">
            <h3>{{$ctrl.item.itemDescription}} <i class="pull-right">{{$ctrl.item.price | currency}}</i></h3>
            <div class="text-center">
                <img src="http://lorempixel.com/400/200/abstract/" class="img-thumbnail" alt="Item thumbnail"/>
            </div>

            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li ng-class="{active: $ctrl.isActiveTab(1)}">
                        <a href="" ng-click="$ctrl.setActiveTab(1)">Description</a>
                    </li>
                    <li ng-class="{active: $ctrl.isActiveTab(2)}">
                        <a href="" ng-click="$ctrl.setActiveTab(2)">Specs</a>
                    </li>
                    <li ng-class="{active: $ctrl.isActiveTab(3)}">
                        <a href="" ng-click="$ctrl.setActiveTab(3)">Reviews</a>
                    </li>
                </ul>

                <div style="margin-top: 20px;">
                    <blockquote ng-show="$ctrl.isActiveTab(1)">{{$ctrl.item.itemDescription}}</blockquote>

                    <div ng-show="$ctrl.isActiveTab(2)">
                        <ul class="list-group">
                            <li ng-repeat="spec in $ctrl.item.specs" class="list-group-item">
                                <strong>{{spec.spec}}</strong>
                            </li>
                        </ul>
                    </div>

                    <div ng-show="$ctrl.isActiveTab(3)">
                        <ul class="list-group">
                            <li ng-repeat="rating in $ctrl.item.reviews" class="list-group-item">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success"
                                         role="progressbar"
                                         aria-valuemin="0"
                                         aria-valuemax="100"
                                         aria-valuenow="{{rating.review}}"
                                         ng-style="{'width': '{{rating.review}}%'}">
                                        {{rating.review}}%
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="pull-right">
                    <button type="button" class="btn btn-success btn-lg"
                            ng-click="$ctrl.onClickAddToCart()">
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>