<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<script type="text/javascript" src="assets/lib/angular.1.7.5/angular.min.js"></script>
        <link rel="stylesheet" href="assets/lib/bootstrap.3.3.6/css/bootstrap.css"/>
        <title>Future Store</title>
    </head>
	<body class="container-fluid">

		<div>
            <h1 class="text-center">Future Crafted Telephony Store</h1>
            <h2 class="text-center">- an Angular product -</h2>
        </div>

		<div class="row" style="padding: 20px 0 20px 0">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
                <div class="input-group">
                    <input type="text" name="searchInput" class="form-control" placeholder="Search the catalog" ng-model="searchText">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
			<div class="col-sm-4"></div>
		</div>

		<div class="row" ng-init="catalog=[{'itemDescription':'Mist Pods','price':500},{'itemDescription':'Pineapple Watch','price':300}];">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<div class="panel panel-default" ng-repeat="item in catalog | filter: searchText">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h3>{{item.itemDescription}} <i class="pull-right">{{item.price}}</i></h3>
                            <div class="text-center">
                                <img src="http://lorempixel.com/400/200/abstract/" class="img-thumbnail" alt="Item thumbnail"/>
                            </div>

                            <div class="panel-body">
                                <ul class="nav nav-pills">
                                    <li class="active">
                                      <a href="#">Description</a>
                                    </li>
                                    <li>
                                      <a href="#">Specs</a>
                                    </li>
                                    <li>
                                      <a href="#">Reviews</a>
                                    </li>
                                </ul>

                                <div style="margin-top: 20px;">
                                    <blockquote>{{item.itemDescription}}</blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
			<div class="col-sm-4"></div>
		</div>
	</body>
</html>
